/* client/src/index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:aquamarine;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    color:black;
  }